/* context menu */
.context-menu {
  font-family: "Roboto", sans-serif;
  position: absolute;
  z-index: 10;
  padding: 12px 12px;
  width: 150px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
  cursor: pointer;
}

.context-menu:hover {
  background-color: #f6f6f6;
}

.pipeline-link{
  font-family: "Roboto", sans-serif;
	text-decoration: none;
  color: black;
}

.showBreak{
  font-family: "Roboto", sans-serif;
  display: none;
}
