.command-output{
  font-family: "Courier New", Courier, monospace;
  color:#eeeeee;
}

.button1{
  background-color: #DFE2E7;
  border: none;
  color: black;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  width:8%;
  font-family: "Roboto", sans-serif;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-radius: 2px;
  min-width: 70px;
}

.button1:hover {
  background-color: rgb(160, 168, 187);
  color: black;
}

.button1:focus {
  background-color: #c5c5c5;
  color: black;
}

.button3{
  background-color: #DFE2E7;
  border: none;
  color: black;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  width:8%;
  font-family: "Roboto", sans-serif;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 2px;
  min-width: 70px;
}

.button3:hover {
  background-color: rgb(160, 168, 187);
  color: black;
}

.button-container{
  padding: 10px 0px;
}
