button {
    display: none;
}

#command-line-input {
	font-family: "Courier New", Courier, monospace;
  display: inline-block;
  min-width: 95%;
  padding: 2px;
  box-sizing: border-box;
  color:#eeeeee;
}

#command-line-input:focus{
  outline: none !important
}

.terminal-text{
  font-family: "Courier New", Courier, monospace;
  color:#eeeeee;
}


// min-width: 12rem; //fallback
// min-width: 15ch;
// height: 1rem;
// display: inline-block;
// padding-right: 10ch;
// border: blue 1px solid;