button {
    display: none;
}

input{
	font-family: "Courier New", Courier, monospace;
  width: 98%;
  padding: 2px;
  box-sizing: border-box;
}

.terminal-text{
	font-family: "Courier New", Courier, monospace;
}
