---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Quicksand');
	
a.pagelink{
	color: white;
}

a.pagelink:hover{
 color: lightgray;
 text-decoration: underline;
}

p {
  font-family: "Quicksand";
}



