---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Quicksand');
	
a.pagelink{
	color: white;
}

a.pagelink:hover{
 color: lightgray;
 text-decoration: underline;
}

a.logoImage{
 position: absolute;
 top: -50px;
 right: 250px;
}



p, h1, h2, a {
  font-family: "Quicksand";
}

#main-content {
  font-family: "Quicksand";
}

@media only screen and (max-width: 767px) {
 header a.logoImage {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 13px;
    line-height: 1;
    color: #2879d0;
    text-align: center;
    background-color: #9ddcff;
    background-image: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
}
