---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Quicksand');
	
a.pagelink {
  color: white;
}

a.pagelink:hover {
  color: lightgray;
  text-decoration: underline;
}

a.logoImage {
  position: absolute;
  top: 5px;
  right: 60px;
  max-width: 75%;
}

.logoImage img {
  height: auto;
  width: 50%;
}

p, h1, h2, a {
  font-family: "Quicksand";
}

#main-content h1, #main-content h2, #main-content h3, #main-content h4, #main-content h5, #main-content h6 {
  font-family: "Quicksand";
  color: #ffffff;
}

a.button {
  font-family: "Quicksand";
}

/* Remove background image for header */
header {
  background: #2e7bcf;
}

body {
	background: #2e70c4;
	color: #ffffff;
}

aside{
	background: #2e70c4;
	background-color:  #2e70c4;
	color: #ffffff;
}

#sidebar{
		background: #2e70c4;
	background-color:  #2e70c4;
	color: #ffffff;
}

.content-wrapper{
	background-color:#2e70c4; 
	overflow: auto;
}
/* Media Queries for resizing */
/* Tablet Portrait to standard 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  a.logoImage {
    top: 115px;
    right: -202px;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  /* Move logo to left for mobile */
  a.logoImage {
    position: relative;
    top: 0px;
    right: 0px;
  }
    
  .logoImage img {
    width: 25%;
    height: auto;
  }
}
