.terminal-text {
	font-family:"Courier New", Courier, monospace;
}

.copy-button{
  margin-left:20px;
  background-color: #DFE2E7;
  color: black;
  padding: 5px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  border: 1px solid black;
  border-radius: 2px;
}

.copy-button:hover {
  background-color: rgb(160, 168, 187);
  color: black;
}

.copyIcon{
	height:15px;
	width:15px;
}