<div class="auth-page">
  

    <div class="form">
        <form (submit)="authenticate()">
            <p class="formtitle">web-terminal
                <img src="assets/img/logo.png"  alt="Terminal Logo" width="54" height="54" align="right">
            </p>

            <input #token type="password" placeholder="Enter one-time password">
            <button type="submit">Authenticate</button>
      		<p class="message">Visit our <a href="https://github.com/danielle-galvao/web-terminal">GitHub project site</a></p>
            <p #error></p>
        </form>
    </div>
</div>