<div id="mySidebar" class="sidebar">
	<button type="button" class="collapsible">Notes</button>
	<div class="content">
		<p>Directory Notes Here</p>
	</div>
	<button type="button" class="collapsible">Preferences</button>
	<div class="content">
		<p>Edit Preferences Here</p>
	</div>
	<button type="button" class="collapsible">Help</button>
	<div class="content">
		<a class = "webLink" href="https://danielle-galvao.github.io/web-terminal" target="_blank">Terminal Website</a>
		<a class = "webLink" href="https://github.com/danielle-galvao/web-terminal" target="_blank">Github Repository</a>
		<a class = "webLink" href="https://github.com/danielle-galvao/web-terminal/issues" target="_blank">Report An Issue</a>
	</div>
</div>
<button class="openbtn" (click)="openNav()">&#171;</button>
<button class="closebtn" id="closebtn" (click)="closeNav()">&#187;</button>
